<div id="front"></div>
<div class="wrapper">
  <p>
    As you follow the private drive through the tropical flower garden to our secluded Tradewinds Cottage, you will
    discover the Hawaii that you came to see.
  </p>
</div>
<div class="wrapper">
  <p>
    Surrounded by exotic flowers and tropical fruit trees, our two bedroom, one bath cottage has cable TV, DVD and CD
    stereo. There is a gas cook top, refrigerator and microwave oven in the newly remodeled kitchen with a propane
    barbeque outside on the covered deck. Wireless Internet access is available on the property.
  </p>
  <p>
    The cottage has a queen size bed, two twin beds and a queen size sleeper sofa. You'll enjoy the splendor of the
    slopes of Haleakala while relaxing in your private hot tub or cooking your favorite island-style feast on the
    barbeque under your covered lanai.
  </p>

  Nightly rate for 2 people: $175 (+13.5% tax)
  $25 per night for each additional person
</div>