<div id="front"></div>
<div class="wrapper">
  <p>
    As you follow the private drive through the tropical flower garden to our secluded Tradewinds Cottage, you will
    discover the Hawaii that you came to see.
  </p>

  <p>
    Surrounded by exotic flowers and tropical fruit trees, our two bedroom, one bath cottage has cable TV, DVD and CD
    stereo. There is a gas cook top, refrigerator and microwave oven in the newly remodeled kitchen with a propane
    barbeque outside on the covered deck. Wireless Internet access is available on the property.
  </p>

  <p>
    The cottage has a queen size bed, two twin beds and a queen size sleeper sofa. You'll enjoy the splendor of the
    slopes of Haleakala while relaxing in your private hot tub or cooking your favorite island-style feast on the
    barbeque under your covered lanai.
  </p>

  Nightly rate for 2 people: $175 (+13.5% tax)
  $25 per night for each additional person

  <p>
    Reservation Policy

    Minimum stay: For Hana Cabana and Tradewinds Cottage, we have a two night minimum stay for all reservations made
    more than a week in advance, except when there is an open night "sandwiched" between two existing reservations. We
    are happy to accept one night stays 7 days in advance. There will be a $25 cleaning fee for a one night reservation
    for two people and a $35 cleaning fee for three or four people who stay for only one night.

    Deposits: A 25% deposit is required to reserve the cottage and the balance is due on arrival.

    Payment: We accept Visa, MasterCard, American Express and Discover, however Travelers Checks or cash are preferred
    for payment of the balance at check-in.

    Check-in: Check-in time is between 3:00 and 5:00 p.m. at the main house. For a later check-in time please call to
    make special arrangements. Check-out time is 11:00 a.m.

    Cancellation Policy

    Hana Cabana & Tradewinds Cottage
    We will refund your deposit less a 10% cancellation fee if you notify us 30 days prior to your arrival.
    Cancellations within 30 days of your arrival will be refunded only for the nights we are able to re-book the
    accommodations minus a 10% service fee.
  </p>
</div>
<div class="wrapper">
  <h3>Check Availability</h3>
  <iframe src="https://www.homeawayconnect.com/calendar.aspx?propertyid=51970&culturename=en-US&mode=1" style="width:100%;height: 990px;"></iframe>
</div>