body {
    padding: 90px 10px 10px 10px;
}

body header#nav_bar {
    position: absolute;
}

body #nav_bar .nav #page_nav {
    display: none;
}

body .wrapper {
    width: 100%
}

body .wrapper h3 {
    padding-left: 5px;
}

body .w49 {
    width: 100%;
}

body .wrapper ul#myGallery {
    padding-left: 0;
}

body .hidden-mobile {
    display: none !important;
}