<!DOCTYPE html>
<html>
<head>
  <title>Hana's Tradewind Cottage</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="KDeQ0u-a5jxWH8XmJ5lRCxij-xzkkwrpYhQ8rtAXEbM" />
</head>
<body>
<div id="header">
  <div class="wrapper">
    <div id="logo">
      <a href="#">Hana's Tradewind Cottage</a>
    </div>
    <ul id="page_nav">
      <li>
        <a href="#">Reservations</a>
      </li>
      <li>
        <a href="#">Photos</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
</div>

<div id="container">
  <div id="content">
    <%= yield %>
  </div>
</div>
<footer>
  <div class="wrapper">
    <span>Hana's Tradewind Cottage</span>
    &#8226;
    <span>(808) 248-7728</span>
    &#8226;
    <span>rent@tradewindscottage.net</span>
  </div>
</footer>
</body>
</html>
